@charset "utf-8";
body{
  line-height: 1.7;
  font-size: 16px;
  font-family: "Sawarabi Mincho";
  color: #000;
}

a,
a:link{
  color: #000;
  text-decoration: none;
}

/* header*/
#Mlab_log{
  padding: 15px 0 0 150px;
  list-style-type: none;
}
header nav{
  margin: 15px 0 20px 150px;
}
header nav ul{
  list-style-type: none;
  margin: 0px 0 0 0px;
  padding: 0px 0px 0px;
  display: flex;
}
header nav ul li a,
header nav ul li a:link{
  display: block;
  padding: 0px 30px;
  text-decoration: none;
  color: #000;
}
header nav ul li a{
  position:relative;
}
header nav ul li a:hover{
  color: #888;
}

/* main */
.title{
  margin-top:50px;
  padding-top:60px;
  text-align: center;
  height:120px;
  background-image:url(../images/backgroundimg.jpg);
}
.topic1{
  border-bottom: 1px solid gray;
}
.topic1 h1{
  text-align: center;
  margin: 60px 0 0 0;
}
.minitopic1{
  margin:6% 30% 6% 30%;
}
.minitopic1 img{
  float: right;
  padding: 0 20% 0 20%;
}
.minitopic2{
  margin: 6% 30% 6% 30%;
}
.minitopic2 h2{
  text-align:center;
  margin: 0 0 0 60px;
}
.minitopic2 img{
  float: left;
  padding: 0 40px 0 0;
}
.topic2{
  padding: 2% 20% 10% 20%;
}
.topic2 h1{
  text-align:center;
  padding-top: 30px;
  padding-bottom: 60px;
}
.them{
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .minitopic1{
    max-width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction:column;

  }
}
@media screen and (max-width: 1024px){
  .them img{
    max-width: 00px;
    min-width: 400px;
    display: flex;
    flex-direction:column;
    padding: 5% 10% 20% 10%;
  }
}
/* footer */
footer{
  background: #ede6e6;
  padding: 20px;
}
footer ul{
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
footer ul li{
  margin: 0 0 0 20px;
}
footer ul li a, footer ul li a:link{
  text-decoration: none;
  font-size: 15px;
  color: #000;
}
footer ul li a:hover{
  color: #888;
}
footer p{
  margin: 0;
  text-align: right;
  color: #888;
}
#designed{
  font-size: 12px;
}